
<img src = "assets/img/burger.jpg" alt = "Burger Image" class="burgerImg"/>

<h1 class="header">Eat-Da-Burger!</h1>

<ul class="nonDevoredUl">
  {{#each burgers}}
  	<li class="align-self-end">
  	   {{!-- <p> {{this.id}}</p> --}}
       <p> {{this.burger_name}}</p>
           <button data-id="{{this.id}}" class="btnDevoured">Devoured</button>

  	</li>
  {{/each}}
</ul>

<ul class="nonDevoredUl">
  {{#each burgers}}
  <li>
  	   {{!-- <p> {{this.id}}</p> --}}
       <p> {{this.burger_name}}</p>
  	</li>
    {{!-- {{#unless devoured}} --}}
      {{!-- {{> burgers/burger-block devoured=true}} --}}
    {{!-- {{/unless}} --}}
  {{/each}}
</ul> 


{{!-- <ul class="devoredUl">
  {{#each burgers}}
    {{!-- {{#if devoured}} --}}
      {{!-- {{> burgers/burger-block devoured=false}} --}}
    {{!-- {{/if}} --}}
  {{!-- {{/each}} --}}
{{!-- </ul> --}}

<br>
<form class="create-form">
  <div class="form-group">
    <input type="text" id="ca" name="name">
  </div>

  <br>

  <button type="submit" class="submit">Submit</button>
  
</form>

<h4>Enter burger you want to eat. Click the Submit button</h4>
